* {
    margin: 0;
    padding: 0;
}

.div1 {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 5, 5)
}

.btn_button {
    border: 1px solid #b61460;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    font-family: "Segoe UI";
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    box-shadow: inset 0 1px 1px rgb(255, 5, 5), 0 2px 3px rgb(255, 5, 5);
    cursor: pointer;
}